@import "reset.css";


table{
    border: 1px solid rgba(1,1,1,1);
}
table th {
  text-align: left;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141622ce;
    padding-left: 5px;
    padding-right: 20px;
    color: aliceblue;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.main{
    padding-top: 7rem;
}
@media (max-width: 768px) {
    html {
        -webkit-text-size-adjust: 100%;
    }
    body{
        margin: 0;
    padding: 0;
    font-weight: normal;
    }
}
@media(max-width: 768px){
    nav{
        flex-direction: column;
    }


}

body{
    background-color: mincream;
    font-family: '', sans-serif;
    height: 100%;
    margin: 0;
    border: 0;
}

}
nav{
    margin: 1rem;
    display: flex;
    justify-content: space-between;

}
.tablesection {
  overflow: auto;
  width: 60rem;
  height: 100%;
}
#blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

}
#blog article {
    margin-top: 2rem;
}
.rest{
     background-color: #141622ce;
     border-radius: 10px;
     color: aliceblue;
     padding: 10px;

}
@media (max-width: 768px){

    nav div{
        flex-direction: column;
    }
    .rest{
        width: 90%;
    }
    .tablesection {
      width: 100%;
      margin-left: 0;
      padding-left:0;
    }
    .table{
        width: 500rem;
    }
}
@media(max-width: 768px){
    html, body{
        font-weight: normal;
        box-sizing: border-box;
        font-size: 20px;
    }
}
.post-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-detail > h2{
    text-transform: uppercase;
    margin-bottom: .5rem;
}

input, textarea,select{
    display: block;
    padding: .75rem;
    line-height: 1.5;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .7rem;
    min-width: 600px;
}
label{
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem 0;
}

.btn-submit{
    background-color: steelblue;

}

.btn-delete{
    background-color: indianred;

}
.actions, a{
    display: flex;
    margin-left : 1rem;
    text-decoration: none;
}
.edit{
    color: steelblue;
}

.delete{
    color: indianred;
}
.table{
    width: 200%;
    padding-bottom: 2rem;
}
h2{
    halign-text:left;
}
div a {
    color: aliceblue;
    padding: 1rem;
    border: solid 1px aliceblue;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;


}
body{
    background-image:url("gris.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}