
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>SoftPlanetCompany</title>
    {% endblock  %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="main" id="blog">
    <div class="rest">

<h3>S'inscrire</h3>
<form method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password1">Mot de passe</label>
    <input type="password" name="password1" id="password1">
    <label for="password2">Confirmation</label>
    <input type="password" name="password2" id="password2">
    {% if error %}
    <small style="color: red;">
        {{ error }}
    </small>
    {% endif %}
    {% if ext %}
    <small style="color: green;">
        {{ ext }}
    </small>
    {% endif %}
    <br>
    <input type="submit" value="S'inscrire">
    </form>
        <br>
        <a href="{% url 'posts:login' %}">Cliquer ici pour aller se connecter</a>
    </div>
</div>

</body>
</html>