{% extends 'base.html' %}

{% block title %}
<title> List des taches </title>
{% endblock %}

{% block content %}


<h2>{{ request.user.username }} Connecté</h2>
    <article>
        <div class="tablesection">
            <table class="table">
            <thead>
                <tr>
                    <th>Tache</th>
                    <th>Description</th>
                    <th>Responsable</th>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th>Priorite</th>
                    <th>Statut</th>
                    <th>Avancement</th>
                    <th>commentaires</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% if request.user.is_staff %}
                {% for post in posts %}
        <tr>
            <td>
                <a href="{% url 'posts:post' pk=post.pk %}" class="edit">
                    {{ post.title }}
                </a>
            </td>
            <td>{{ post.description|safe|truncatewords:5 }}</td>
            <td><strong>{{ post.responsable.username }}</strong></td>
            <td>{{ post.date_de_debut }}</td>
            <td>{{ post.date_de_fin }}</td>
            <td>{{ post.priorite }}</td>
            <td>{{ post.statut }}</td>
            <td>{{ post.avancement }}</td>
            <td>{{ post.commentaires|safe|truncatewords:4 }}</td>
            <td>
                <div class="actions">
                    {% if request.user.is_authenticated and request.user == post.responsable %}
                        <a href="{% url 'posts:edit' pk=post.pk %}" class="edit">Editer</a>
                        <a href="{% url 'posts:delete' pk=post.pk %}" class="delete">Supprimer</a>
                    {% endif %}
                </div>
            </td>

        </tr>
        {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
    </article>


{% endblock %}